@page "/clientesmedicamentos"

@using Farmacia.Share.Model;
@using Farmacia.BLL.Interface
@using Farmacia.BLL.Model
@inject IClienteMedicamento mdsClientesMedicamentos;
@inject NotificationService Notification;
@inject DialogService DialogService;

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="row">
            <RadzenDataGrid Data="@mListaClientesMedicamentos" AllowSorting="true" Style="400px;" TItem="cClienteMedicamento" AllowPaging="true" FilterPopupRenderMode="PopupRenderMode.OnDemand" PageSize="5" SelectionMode="DataGridSelectionMode.Single" @bind-Value=@mClienteMedicamentoSeleccionado>

                <Columns>
                    <RadzenDataGridColumn Property="@nameof(cClienteMedicamento.Identificacion)" Title="Identificacion"></RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="@nameof(cClienteMedicamento.IdMedicamento)" Title="IdMedicamento"></RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="@nameof(cClienteMedicamento.Dosis)" Title="Dosis"></RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </div>

        <div class="row" style="margin: 10px">
            <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-sm-12 col-xs-12" style="margin: 5px">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="Agregar" Click="@AgregarClienteMedicamento" />
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-sm-12 col-xs-12" style="margin: 5px">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Text="Eliminar" Click="@EliminarClienteMedicamento" />
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-sm-12 col-xs-12" style="margin: 5px">
                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Text="Actualizar" Click="@ActualizarClienteMedicamento" />
            </div>
        </div>

    </div>
</div>

@code {
    List<cClienteMedicamento> mListaClientesMedicamentos;
    IList<cClienteMedicamento> mClienteMedicamentoSeleccionado;
    cClienteMedicamento mClienteMedicamento = new cClienteMedicamento();

    protected override async Task OnInitializedAsync()
    {
        mListaClientesMedicamentos = await mdsClientesMedicamentos.getClienteMedicamentos();
    }

    private async Task AgregarClienteMedicamento()
    {
        var result = await DialogService.OpenAsync<ClienteMedicamentoDialog>("Agregar Cliente Medicamento", new Dictionary<string, object>());

        if (result != null && (bool)result)
        {
            mListaClientesMedicamentos = await mdsClientesMedicamentos.getClienteMedicamentos();
            StateHasChanged();
            Notification.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Medicamento Agregado",
                    Detail = "El Medicamento se ha agregado correctamente"
                });
        }
        else
        {
            Notification.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "Error al agregar el Medicamento"
                });
        }
    }

    private async Task ActualizarClienteMedicamento()
    {
        if (mClienteMedicamentoSeleccionado == null || !mClienteMedicamentoSeleccionado.Any())
        {
            Notification.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Warning,
                    Summary = "Advertencia",
                    Detail = "Debe seleccionar un medicamento para actualizar"
                });
            return;
        }

        mClienteMedicamento = mClienteMedicamentoSeleccionado.FirstOrDefault();
        var result = await DialogService.OpenAsync<ClienteMedicamentoDialog>("Actualizar Cliente Medicamento", new Dictionary<string, object>
    {
        { "ClienteMedicamento", mClienteMedicamento }
    });

        if (result != null && (bool)result)
        {
            mListaClientesMedicamentos = await mdsClientesMedicamentos.getClienteMedicamentos();
            mClienteMedicamentoSeleccionado = null;
            StateHasChanged();
            Notification.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Medicamento Actualizado",
                    Detail = "El Medicamento se ha actualizado correctamente"
                });
        }
        else
        {
            Notification.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "Error al actualizar el Medicamento"
                });
        }
    }

    private async Task EliminarClienteMedicamento()
    {
        if (mClienteMedicamentoSeleccionado == null || !mClienteMedicamentoSeleccionado.Any())
        {
            Notification.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Warning,
                    Summary = "Advertencia",
                    Detail = "Debe seleccionar un medicamento para eliminar"
                });
            return;
        }

        var clienteMedicamento = mClienteMedicamentoSeleccionado.FirstOrDefault();
        if (await mdsClientesMedicamentos.eliminarClienteMedicamento(clienteMedicamento) == true)
        {
            mListaClientesMedicamentos = await mdsClientesMedicamentos.getClienteMedicamentos();
            mClienteMedicamentoSeleccionado = null;
            StateHasChanged();
            Notification.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Medicamento Eliminado",
                    Detail = "El Medicamento se ha eliminado correctamente"
                });
        }
        else
        {
            Notification.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "Error al eliminar el Medicamento"
                });
        }
    }

}
